#egggif {
    position: absolute;
    top: 33%;
    left: 25%;
    display: none;
}
p {
    line-height: 1.1;
}
.header-c-1 {
    background-color: #E53935;
}
.navbar-bg {
    position: absolute;
    z-index: 0;
    left: -50px;
}
.logo-1 {
    z-index: 1;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: #E53935;
    border-radius: 3px;
    padding-left: 18px !important;
    padding-right: 18px !important;
}
.navbar-perso {
    background-color: #374046;
    border: 0px;
    border-bottom: 4px;
    border-style: solid;
    border-color: #e55039;
}
.navbar-perso a,.fa ,.fab {
    color: white;
}
.fa-circle {
    color: red;
}
.titre-page-bg-1 {
    position: absolute;
    left: -50px;
    z-index: -1;
}
.titre-page {
    background-color: #374046;
    color: white;
    border: 0px;
    z-index: 1;
    border-bottom: 4px;
    border-style: solid;
    border-color: #e55039;
}
.titre-page-tiret {
    color:  #e55039;
}
.section-2 {
    background-color: #2F3438;
}
.section-2 .container {
    background-color: #374046;
    color: white;
}
.section-2 .row {
    padding-top: 15px;
}
.section-2-tiret-v {
    width: 100%;
    border-top: solid 2px #E55039;
}
.new-1 {
    padding-top: 30px;
}
.footer-logo {
    height: 50px;
}
.footer-p {
    padding-left: 50px;
}

@media (min-width: 0px) {
    .navbar-bg, .titre-page-bg-1 {
        display: none;
    }
}
@media (min-width: 576px) {
    .navbar-bg, .titre-page-bg-1 {
        display: initial;
    }
}
@media (min-width: 768px) { 
}
@media (min-width: 992px) { 
}
@media (min-width: 1200px) {    
}